@function vw($value) {
  $remValue: ($value / 13.6) + vw;
  @return $remValue;
}

header {
    width: 100%;
    height: vw(50);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    z-index: 99;
    animation: page-transform 3.5s linear;
      animation-delay: 3s;
      background-color: #fff3;
      backdrop-filter: blur(5px);
  
    .logo {
      width: vw(95);
      height: vw(30);
  
      svg {
        width: 100%;
        height: 100%;
        fill: #000;
        mix-blend-mode: difference;
      }
    }
  
    nav {
      display: flex;
      gap: vw(5);
      align-items: center;
  
      .menu {
        border-radius: vw(30);
        height: vw(30);
        width: vw(95);
        background-color: var(--black);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: vw(10);
        text-transform: uppercase;
        letter-spacing: 0;
        color: var(--white);
        font-family: 'sofia-pro-regular';
      }
  
      .hamburger {
        width: vw(30);
        height: vw(30);
        cursor: pointer;
  
        svg {
          width: 100%;
          height: 100%;
        }
        
      }
    }
  }

  @media screen and (max-width:750px) {
    @function vw($value) {
      $remValue: ($value / 1) + px;
      @return $remValue;
    }
    
    
    
  
    
    header {
      width: 100%;
      height: vw(70);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3%;
      z-index: 99;
      animation: page-transform 3.5s linear;
        animation-delay: 3s;
    
      .logo {
        width: vw(80);
        height: vw(40);
    
        svg {
          width: 100%;
          height: 100%;
        }
      }
    
      nav {
        display: flex;
        gap: vw(5);
    
        .menu {
          border-radius: vw(30);
          height: vw(40);
          width: vw(120);
          background-color: var(--black);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: vw(12);
          text-transform: uppercase;
          letter-spacing: 0;
          font-family: 'sofia-pro-regular';
        }
    
        .hamburger {
          width: vw(40);
          height: vw(40);
    
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }


  @media screen and (max-width:950px) and (min-width:750px) {
    @function vw($value) {
      $remValue: ($value / 0.7) + px;
      @return $remValue;
    }
    
    
    
  
    
    header {
      width: 100%;
      height: vw(70);
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 3%;
      z-index: 99;
      animation: page-transform 3.5s linear;
        animation-delay: 3s;
    
      .logo {
        width: vw(80);
        height: vw(40);
    
        svg {
          width: 100%;
          height: 100%;
        }
      }
    
      nav {
        display: flex;
        gap: vw(5);
    
        .menu {
          border-radius: vw(30);
          height: vw(40);
          width: vw(120);
          background-color: var(--black);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: vw(12);
          text-transform: uppercase;
          letter-spacing: 0;
          font-family: 'sofia-pro-regular';
        }
    
        .hamburger {
          width: vw(40);
          height: vw(40);
    
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }